* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #020617;
  position: fixed;
  width: 100%;
}

.logo {
  color: cyan;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* MENU */
#menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* HERO */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

.home h1 {
  white-space: nowrap;
}

#typing {
  min-height: 30px;
  display: inline-block;
}

.image img {
  width: 250px;
  border-radius: 55%;
  animation: float 3s infinite;
}

/* FLOAT */
@keyframes float {
  0% {transform: translateY(0);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(0);}
}

/* SECTION */
section {
  padding: 80px 20px;
  text-align: center;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  margin: 10px;
}

/* SKILL BAR */
.bar {
  background: #333;
  height: 8px;
}

.fill {
  height: 8px;
  background: cyan;
}

.html {width: 90%;}
.css {width: 80%;}
.js {width: 70%;}

/* EDUCATION COLORS */
.degree {
  color: cyan;
}

.institute {
  color: lightgray;
}

/* LIGHT MODE */
body.light {
  background: white;
  color: black;
}

body.light header {
  background: #ddd;
}

body.light .card {
  background: #f1f1f1;
}

body.light nav a {
  color: black;
}

/* MOBILE */
@media(max-width:768px){

  nav {
    position: fixed;
    top: 60px;
    left: -100%;
    flex-direction: column;
    background: #020617;
    width: 100%;
    text-align: center;
  }

  nav.active {
    left: 0;
  }

  #menu {
    display: block;
  }

  .home {
    flex-direction: column;
    text-align: center;
  }

  .home h1 {
    white-space: normal;
  }
}