* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #020617;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: cyan;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #0f172a, #1e293b);
}

.hero h2 {
  font-size: 40px;
}

.hero span {
  color: cyan;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  background: cyan;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  text-align: center;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* 🔥 RESPONSIVE DESIGN */

/* Mobile */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .card {
    width: 90%;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .card {
    width: 45%;
  }
}

/* Laptop */
@media (min-width: 901px) {
  .card {
    width: 250px;
  }
}
/* MENU ICON */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* NORMAL NAV */
nav {
  display: flex;
}

/* MOBILE DESIGN */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    background: #020617;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: center;
  }

  nav a {
    padding: 10px;
    display: block;
  }

  nav.active {
    display: flex;
  }

  header {
    position: relative;
  }
}